input{

	file{
	path => "C:/Users/adity/Downloads/ELK_Stack/datasets/test_data.csv"
	start_position => "beginning"
}

}

filter{
	csv{
		separator => ","	
		columns => ["id","first_name","last_name","email","gender","drug_generic","drug_name","country","city","sales"]
		}
		    
	}
	
		
output{

 elasticsearch { 
    hosts => ["localhost:9200"] 
    index => "testing_index"
	}
  # stdout { codec => rubydebug { metadata => true } }
    stdout { codec => dots }
}